# Byte-compiled / cache
__pycache__/
__pycache__
*.py[cod]
*.pyo

# Test / coverage / pytest
.coverage
htmlcov/
.cache/
.pytest_cache/

# Environnement virtuel
venv/
.env/

# VS Code / IDE
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yml

# Systèmes
.DS_Store
Thumbs.db

# Python egg metadata
*.egg-info/
dist/
build/

# Jupyter (au cas où)
.ipynb_checkpoints/

# README temporaire
README*.bak
